

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="txtShortenUrl" placeholder="Enter the URL" aria-label="Enter the URL" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button"  onclick="generateShortURL()">Shorten</button>
        </div>
    </div>
    <div class="col-md-6 offset-3">
        <div class="alert alert-info p-1">
            <div class="row">
                <div class="col-5"><span id="txtResLongUrl"></span></div>
                <div class="col-5"><span id="txtResShortUrl"></span></div>
                <div class="col-2"><button class="btn btn-sm btn-secondary">Copy</button></div>
            </div>
            
        </div>
    </div>
</div>

